@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');


body{
  background-color: black;
  color: rgb(255, 255, 255);
  
}


.left-image::after, .right-image::after{
  content:  '';
  position: absolute;
  top: -18px;
  width: 200px;
  height: 50px;
  background:
 #ffff3f;
  border-radius: 20px 0 0 0;
  clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
}
.right-image::after{
  background:
  #bcc5fe;
}
.left-image::before{
  content:  '❖';
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  z-index: 20;
  color: black;
 
  
  
}

@media only screen and (max-width:600px){
  html, body {
      overflow-x: hidden;
    }

  .test:before{
    top: 15px;
  }  
}